<a href="https://colab.research.google.com/github/vibhorsingal/ml_cart/blob/main/ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import numpy as np

In [41]:
df_covid_data=pd.read_csv('https://raw.githubusercontent.com/kaushalkuma-r/machine-learning-course/main/covid-data.csv')

In [42]:
df_covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93326,ZWE,Africa,Zimbabwe,2021-05-30,38944.0,11.0,37.429,1594.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
93327,ZWE,Africa,Zimbabwe,2021-05-31,38961.0,17.0,37.857,1594.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
93328,ZWE,Africa,Zimbabwe,2021-06-01,38998.0,37.0,41.714,1599.0,5.0,1.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
93329,ZWE,Africa,Zimbabwe,2021-06-02,39031.0,33.0,30.286,1599.0,0.0,1.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
93330,ZWE,Africa,Zimbabwe,2021-06-03,39092.0,61.0,34.000,1604.0,5.0,1.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [43]:
india_df=df_covid_data[df_covid_data.location=='India']
india_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
38584,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
38585,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
38586,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
38587,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
38588,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39070,IND,Asia,India,2021-05-30,28047534.0,152734.0,185012.429,329100.0,3128.0,3625.714,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
39071,IND,Asia,India,2021-05-31,28175044.0,127510.0,175167.143,331895.0,2795.0,3523.429,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
39072,IND,Asia,India,2021-06-01,28307832.0,132788.0,164291.000,335102.0,3207.0,3387.714,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
39073,IND,Asia,India,2021-06-02,28441986.0,134154.0,153270.429,337989.0,2887.0,3250.571,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645
39074,IND,Asia,India,2021-06-03,28574350.0,132364.0,145556.143,340702.0,2713.0,3115.286,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645

In [44]:
india_df=india_df[['iso_code','continent','location','date','new_cases']]
india_df

      iso_code continent location        date  new_cases
38584      IND      Asia    India  2020-01-30        1.0
38585      IND      Asia    India  2020-01-31        0.0
38586      IND      Asia    India  2020-02-01        0.0
38587      IND      Asia    India  2020-02-02        1.0
38588      IND      Asia    India  2020-02-03        1.0
...        ...       ...      ...         ...        ...
39070      IND      Asia    India  2021-05-30   152734.0
39071      IND      Asia    India  2021-05-31   127510.0
39072      IND      Asia    India  2021-06-01   132788.0
39073      IND      Asia    India  2021-06-02   134154.0
39074      IND      Asia    India  2021-06-03   132364.0

[491 rows x 5 columns]

In [45]:
mobility_df=pd.read_csv('https://raw.githubusercontent.com/kaushalkuma-r/machine-learning-course/main/visitors-covid.csv')
mobility_df

,Entity,Code,Day,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
0,Afghanistan,AFG,2020-02-17,0.000,4.000,1.333,5.667,1.000,-6.333
1,Afghanistan,AFG,2020-02-18,0.750,4.250,0.750,6.500,1.500,-3.250
2,Afghanistan,AFG,2020-02-19,0.400,4.000,0.800,5.200,1.400,-1.600
3,Afghanistan,AFG,2020-02-20,0.000,3.833,0.833,5.000,1.000,-0.333
4,Afghanistan,AFG,2020-02-21,0.000,4.571,0.714,5.286,1.429,0.571
...,...,...,...,...,...,...,...,...,...
61945,Zimbabwe,ZWE,2021-05-28,32.286,57.429,-0.286,32.714,40.286,11.857
61946,Zimbabwe,ZWE,2021-05-29,33.143,58.143,-0.714,33.429,41.571,11.714
61947,Zimbabwe,ZWE,2021-05-30,34.714,60.000,-1.286,34.143,42.571,12.000
61948,Zimbabwe,ZWE,2021-05-31,35.143,61.000,-1.857,34.286,42.571,13.143
61949,Zimbabwe,ZWE,2021-06-01,38.429,64.286,-4.000,39.286,45.857,24.000

In [46]:
mobility_df=mobility_df[mobility_df['Entity']=='India']

In [47]:
mobility_df

,Entity,Code,Day,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
23897,India,IND,2020-02-17,0.667,1.667,0.000,2.000,3.000,3.000
23898,India,IND,2020-02-18,0.500,1.750,0.000,2.000,3.250,3.000
23899,India,IND,2020-02-19,0.400,1.800,0.200,1.800,2.800,3.200
23900,India,IND,2020-02-20,0.500,2.000,0.000,2.333,3.167,3.333
23901,India,IND,2020-02-21,-0.143,1.714,0.714,1.429,3.571,0.143
...,...,...,...,...,...,...,...,...,...
24363,India,IND,2021-05-28,-61.714,-25.000,24.143,-49.143,-41.000,-45.429
24364,India,IND,2021-05-29,-61.286,-24.429,23.714,-48.714,-40.000,-44.571
24365,India,IND,2021-05-30,-61.143,-24.714,23.714,-49.000,-39.143,-44.286
24366,India,IND,2021-05-31,-60.143,-23.429,23.286,-48.286,-38.000,-43.429
24367,India,IND,2021-06-01,-58.714,-21.143,22.714,-47.000,-36.571,-42.429

In [48]:
mobility_df.rename(columns={'Day':'date'},inplace=True)
merged_df=pd.merge(mobility_df,india_df,on='date')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [49]:
merged_df

,Entity,Code,date,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,iso_code,continent,location,new_cases
0,India,IND,2020-02-17,0.667,1.667,0.000,2.000,3.000,3.000,IND,Asia,India,0.0
1,India,IND,2020-02-18,0.500,1.750,0.000,2.000,3.250,3.000,IND,Asia,India,0.0
2,India,IND,2020-02-19,0.400,1.800,0.200,1.800,2.800,3.200,IND,Asia,India,0.0
3,India,IND,2020-02-20,0.500,2.000,0.000,2.333,3.167,3.333,IND,Asia,India,0.0
4,India,IND,2020-02-21,-0.143,1.714,0.714,1.429,3.571,0.143,IND,Asia,India,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,India,IND,2021-05-28,-61.714,-25.000,24.143,-49.143,-41.000,-45.429,IND,Asia,India,173790.0
467,India,IND,2021-05-29,-61.286,-24.429,23.714,-48.714,-40.000,-44.571,IND,Asia,India,165553.0
468,India,IND,2021-05-30,-61.143,-24.714,23.714,-49.000,-39.143,-44.286,IND,Asia,India,152734.0
469,India,IND,2021-05-31,-60.143,-23.429,23.286,-48.286,-38.000,-43.429,IND,Asia,India,127510.0
470,India,IND,2021-06-01,-58.714,-21.143,22.714,-47.000,-36.571,-42.429,IND,Asia,India,132788.0

In [50]:
del merged_df["Entity"]

In [51]:
del merged_df["Code"]

In [52]:
merged_df

,date,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,iso_code,continent,location,new_cases
0,2020-02-17,0.667,1.667,0.000,2.000,3.000,3.000,IND,Asia,India,0.0
1,2020-02-18,0.500,1.750,0.000,2.000,3.250,3.000,IND,Asia,India,0.0
2,2020-02-19,0.400,1.800,0.200,1.800,2.800,3.200,IND,Asia,India,0.0
3,2020-02-20,0.500,2.000,0.000,2.333,3.167,3.333,IND,Asia,India,0.0
4,2020-02-21,-0.143,1.714,0.714,1.429,3.571,0.143,IND,Asia,India,0.0
...,...,...,...,...,...,...,...,...,...,...,...
466,2021-05-28,-61.714,-25.000,24.143,-49.143,-41.000,-45.429,IND,Asia,India,173790.0
467,2021-05-29,-61.286,-24.429,23.714,-48.714,-40.000,-44.571,IND,Asia,India,165553.0
468,2021-05-30,-61.143,-24.714,23.714,-49.000,-39.143,-44.286,IND,Asia,India,152734.0
469,2021-05-31,-60.143,-23.429,23.286,-48.286,-38.000,-43.429,IND,Asia,India,127510.0
470,2021-06-01,-58.714,-21.143,22.714,-47.000,-36.571,-42.429,IND,Asia,India,132788.0

In [53]:
del merged_df["date"]
del merged_df["iso_code"]
del merged_df["continent"]
del merged_df["location"]

In [54]:
merged_df

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,new_cases
0,0.667,1.667,0.000,2.000,3.000,3.000,0.0
1,0.500,1.750,0.000,2.000,3.250,3.000,0.0
2,0.400,1.800,0.200,1.800,2.800,3.200,0.0
3,0.500,2.000,0.000,2.333,3.167,3.333,0.0
4,-0.143,1.714,0.714,1.429,3.571,0.143,0.0
...,...,...,...,...,...,...,...
466,-61.714,-25.000,24.143,-49.143,-41.000,-45.429,173790.0
467,-61.286,-24.429,23.714,-48.714,-40.000,-44.571,165553.0
468,-61.143,-24.714,23.714,-49.000,-39.143,-44.286,152734.0
469,-60.143,-23.429,23.286,-48.286,-38.000,-43.429,127510.0
470,-58.714,-21.143,22.714,-47.000,-36.571,-42.429,132788.0

In [55]:
training_df=merged_df.sample(frac=0.9)

In [56]:
training_df

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,new_cases
410,-26.286,14.000,11.286,-12.143,-15.000,-23.000,89129.0
104,-70.000,-15.143,18.429,-46.143,-55.857,-36.429,8782.0
402,-21.000,20.429,8.429,-5.000,-11.429,-9.714,59118.0
270,-23.286,19.143,9.857,-15.000,-35.000,-20.000,44684.0
290,-28.143,9.000,9.429,-17.000,-28.143,-22.286,36595.0
...,...,...,...,...,...,...,...
313,-26.571,10.571,11.857,-8.429,-14.857,-17.714,18732.0
42,-75.571,-61.857,28.143,-71.571,-51.714,-65.429,227.0
141,-58.286,-4.714,14.714,-40.429,-50.429,-30.571,22753.0
344,-26.857,5.143,10.714,-15.143,-11.286,-20.286,12689.0
372,-22.143,16.000,7.000,-5.286,-11.857,-14.000,13742.0

In [57]:
training_df.describe()

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,new_cases
count,424.000000,424.000000,424.000000,424.000000,424.00000,424.000000,424.000000
mean,-42.503215,-4.782149,13.870052,-28.421498,-34.24137,-27.649686,60580.912736
std,22.075167,19.769809,7.094311,19.963116,19.19727,15.725660,90126.200385
min,-85.857000,-64.143000,0.000000,-73.000000,-63.71400,-65.857000,0.000000
25%,-59.500250,-11.892750,9.714000,-41.642500,-51.00000,-32.857000,10009.750000
50%,-39.357500,-0.357500,12.357500,-26.071500,-40.28600,-25.000000,28552.000000
75%,-26.429000,9.429000,16.571000,-9.821250,-14.85700,-17.107250,64437.500000
max,0.667000,21.429000,29.143000,2.333000,3.71400,5.571000,414188.000000

In [58]:
testing_df=merged_df.drop(training_df.index)
testing_df

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,new_cases
15,-0.429,1.000,0.000,0.714,1.857,4.571,0.0
26,-6.000,-1.429,2.857,-5.143,-0.571,-8.714,20.0
37,-49.857,-31.000,16.571,-45.143,-33.286,-40.000,121.0
53,-77.571,-57.714,28.286,-69.857,-49.857,-63.286,873.0
54,-78.000,-56.429,28.571,-69.286,-49.714,-63.714,848.0
58,-78.571,-53.857,29.143,-68.143,-49.286,-63.429,835.0
66,-85.857,-47.143,28.429,-66.000,-63.286,-60.143,1707.0
70,-85.571,-46.857,28.571,-66.143,-63.571,-59.429,1561.0
81,-81.286,-35.571,25.429,-59.429,-61.286,-52.143,3344.0
95,-74.143,-22.286,20.714,-50.571,-57.571,-41.286,6568.0
105,-69.143,-13.000,17.714,-44.714,-55.571,-34.143,7761.0
109,-66.143,-7.429,16.286,-41.286,-54.857,-31.571,9471.0
123,-58.000,-0.857,14.286,-37.286,-50.714,-30.143,14516.0
136,-58.143,-3.429,14.143,-39.000,-50.429,-30.429,20903.0
144,-58.429,-5.571,14.857,-40.714,-50.857,-30.286,27114.0
181,-51.000,-11.714,13.429,-39.143,-53.143,-31.143,57711.0
194,-49.000,-9.286,12.143,-35.143,-50.286,-25.000,78761.0
207,-44.429,-5.143,11.857,-31.429,-47.000,-24.571,97570.0
219,-39.571,-6.714,14.143,-30.571,-44.857,-23.000,86508.0
223,-41.143,-5.571,15.571,-28.143,-43.000,-23.143,82170.0
225,-41.857,-4.857,16.143,-27.286,-42.571,-23.000,80472.0
229,-40.143,-0.429,14.000,-25.571,-43.714,-26.429,75829.0
233,-38.286,2.857,11.286,-24.000,-45.000,-27.857,78524.0
245,-33.429,8.429,13.143,-20.571,-41.714,-20.286,46790.0
248,-32.000,9.714,12.429,-19.000,-40.714,-20.000,54366.0
253,-29.857,10.286,10.286,-17.429,-37.714,-25.000,43893.0
266,-28.000,10.571,10.571,-18.714,-37.571,-19.571,38073.0
269,-25.286,15.143,10.000,-16.714,-36.000,-19.143,44879.0
292,-28.000,9.143,9.429,-16.857,-24.714,-21.000,36011.0
307,-28.429,9.429,11.714,-9.429,-17.857,-15.000,24337.0
316,-26.571,9.714,11.714,-7.857,-13.857,-17.857,20549.0
324,-26.714,9.571,11.714,-8.143,-14.429,-14.857,20346.0
327,-27.429,9.429,11.429,-8.571,-14.857,-12.571,36867.0
329,-26.000,11.143,11.000,-9.000,-13.000,-12.143,12584.0
341,-28.286,3.571,9.714,-15.714,-15.143,-17.571,14849.0
347,-26.857,6.286,10.429,-14.000,-10.714,-19.571,13082.0
349,-26.571,8.714,9.857,-12.857,-11.571,-18.857,11436.0
351,-26.571,11.429,8.429,-10.857,-14.286,-14.286,11039.0
374,-22.000,16.286,7.143,-5.286,-11.714,-13.429,16577.0
379,-22.000,17.286,7.286,-5.714,-11.571,-13.000,14989.0
386,-20.286,20.286,7.429,-4.857,-10.714,-11.286,17921.0
408,-25.714,14.429,10.714,-10.714,-14.857,-20.000,72330.0
423,-31.286,14.143,14.000,-17.857,-20.857,-25.143,217353.0
437,-53.143,-11.429,21.571,-39.000,-38.857,-40.571,386555.0
449,-62.286,-23.714,24.571,-48.143,-44.714,-47.000,348421.0
464,-62.571,-25.857,24.571,-49.857,-42.286,-46.429,211298.0
466,-61.714,-25.000,24.143,-49.143,-41.000,-45.429,173790.0

In [59]:
target_mean=training_df["new_cases"].mean()
target_mean

60580.91273584906

In [60]:
target_std=training_df["new_cases"].std()
target_std

90126.20038469373

In [61]:
def sdr(attribute_column):
    target_mean=training_df["new_cases"].mean()
    total_len=len(training_df)
    target_std=training_df["new_cases"].std()
    attribute_col_mean=training_df[attribute_column].mean();
    training_df1=training_df[(training_df[attribute_column]<=attribute_col_mean)]
    training_df2=training_df[(training_df[attribute_column]>attribute_col_mean)]
    less_than_count=len(training_df1)
    greater_than_count=len(training_df2)
    less_than_sd=training_df1["new_cases"].std()
    greater_than_sd=training_df2["new_cases"].std()
    final_std=((less_than_count/total_len)*less_than_sd)+((greater_than_count/total_len)*greater_than_sd)
    return target_std-final_std

In [62]:
class Node():
    def __init__(self, feature_index=None, threshold=None, left=None, right=None, var_red=None, value=None):
        ''' constructor ''' 
        
        # for decision node
        self.feature_index = feature_index
        self.threshold = threshold
        self.left = left
        self.right = right
        self.var_red = var_red
        
        # for leaf node
        self.value = value
		
		
class DecisionTreeRegressor():
    def __init__(self, min_samples_split=2, max_depth=2):        
        # initialize the root of the tree 
        self.root = None
        
        # stopping conditions
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth

    def build_tree(self, dataset, curr_depth=0):   #Recursive function to build a tree
      X, Y = dataset[:,:-1], dataset[:,-1]   #Splitting the dataset as features and labels

      num_samples, num_features = np.shape(X)    

      best_split = {}     #The best_split function of this class returns a dictionary, so initialising the library

      if num_samples >= self.min_samples_split and curr_depth <= self.max_depth:    #Stopping Conditions

        best_split = self.get_best_split(dataset, num_samples, num_features)    #Finding the best split
        
        if best_split["var_red"]>0:    #Checking if the information gain is positive
            left_subtree = self.build_tree(best_split["dataset_left"], curr_depth+1)
            right_subtree = self.build_tree(best_split["dataset_right"], curr_depth+1)
            return Node(best_split["feature_index"], best_split["threshold"], 
                        left_subtree, right_subtree, best_split["var_red"])
              
      leaf_value = self.calculate_leaf_value(Y)    #After the tree is recursively built, calculating and returning the leaf nodes.
      return Node(value=leaf_value) 

    
    
    def get_best_split(self, dataset, num_samples, num_features):
      best_split = {}   #dictionary to store the best split
      max_var_red = -float("inf")   #Unbounded Lower Value for Comparision
      #means of every column
      means=np.mean(dataset,axis=0)
      for feature_index in range(num_features):
          #Selection of a particular feature of all the samples.
          threshold=means[feature_index]
          #print(threshold)
          dataset_left, dataset_right = self.split(dataset, feature_index, threshold)   #get current split
        
    
          if len(dataset_left) > 0 and len(dataset_right) > 0:    #chek if childs are not null
            y = dataset[:, -1]
            left_y = dataset_left[:, -1]
            right_y = dataset_right[:, -1]
            curr_var_red = self.variance_reduction(y, left_y, right_y)    #Calculating the Information Gain

            if curr_var_red > max_var_red:     #Check whether this is feature has the best split or not!
              best_split["feature_index"] = feature_index
              best_split["threshold"] = threshold
              best_split["dataset_left"] = dataset_left
              best_split["dataset_right"] = dataset_right
              best_split["var_red"] = curr_var_red

              max_var_red = curr_var_red   #If this is the best split then update the maximum Information Gain.

      return best_split

    def split(self, dataset, feature_index, threshold):
      dataset_left = np.array([row for row in dataset if row[feature_index] <= threshold])   #All the rows of the dataset for which a particular feature's value is less than the threshold.
      dataset_right = np.array([row for row in dataset if row[feature_index]>threshold])     #All the rows of the dataset for which a particular feature's value is more than the threshold.

      return dataset_left, dataset_right

    def variance_reduction(self, parent, l_child, r_child):   #Calculating the weighted 
      weight_l = len(l_child) / len(parent)
      weight_r = len(r_child) / len(parent)
      reduction = np.var(parent) - (weight_l * np.var(l_child) + weight_r * np.var(r_child))

      return reduction

    def calculate_leaf_value(self, Y):
      val = np.mean(Y)
      return val

    def print_tree(self, tree=None, indent=" "):
      if not tree:
        tree = self.root
      if tree.value is not None:
        print(tree.value)
      else:
        print("X_"+str(tree.feature_index), "<=", tree.threshold, "?", tree.var_red)
        print("%sleft:" % (indent), end="")
        self.print_tree(tree.left, indent + indent)
        print("%sright:" % (indent), end="")
        self.print_tree(tree.right, indent + indent)

    def fit(self, dataset):
      self.root = self.build_tree(dataset)

    def make_prediction(self, x, tree):
      if tree.value != None: 
        return tree.value
      feature_val = x[tree.feature_index]
      
      if feature_val<=tree.threshold:
          return self.make_prediction(x, tree.left)
      else:
          return self.make_prediction(x, tree.right)
    
    def predict(self, X):
      preditions = [self.make_prediction(x, self.root) for x in X]
      return preditions

In [63]:
model=DecisionTreeRegressor()

In [64]:
x=training_df.to_numpy()
y=testing_df.to_numpy()
x

array([[-2.6286e+01,  1.4000e+01,  1.1286e+01, ..., -1.5000e+01,
        -2.3000e+01,  8.9129e+04],
       [-7.0000e+01, -1.5143e+01,  1.8429e+01, ..., -5.5857e+01,
        -3.6429e+01,  8.7820e+03],
       [-2.1000e+01,  2.0429e+01,  8.4290e+00, ..., -1.1429e+01,
        -9.7140e+00,  5.9118e+04],
       ...,
       [-5.8286e+01, -4.7140e+00,  1.4714e+01, ..., -5.0429e+01,
        -3.0571e+01,  2.2753e+04],
       [-2.6857e+01,  5.1430e+00,  1.0714e+01, ..., -1.1286e+01,
        -2.0286e+01,  1.2689e+04],
       [-2.2143e+01,  1.6000e+01,  7.0000e+00, ..., -1.1857e+01,
        -1.4000e+01,  1.3742e+04]])

In [65]:

b=model.fit(x)
c=model.predict(y)
c

[9.59375,
 9.59375,
 281046.1818181818,
 192524.10256410256,
 192524.10256410256,
 192524.10256410256,
 3222.7924528301887,
 3222.7924528301887,
 3222.7924528301887,
 3222.7924528301887,
 3222.7924528301887,
 27193.627118644068,
 27193.627118644068,
 27193.627118644068,
 27193.627118644068,
 73509.61403508772,
 73509.61403508772,
 73509.61403508772,
 192524.10256410256,
 192524.10256410256,
 192524.10256410256,
 192524.10256410256,
 73509.61403508772,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 44328.61320754717,
 23757.696428571428,
 23757.696428571428,
 23757.696428571428,
 23757.696428571428,
 44328.61320754717,
 281046.1818181818,
 281046.1818181818,
 192524.10256410256,
 192524.10256410256,
 281046.1818181818]

In [66]:
X, Y = x[:,:-1], x[:,-1]   #Splitting the dataset as features and labels
num_samples, num_features = np.shape(X)

In [67]:
a=model.get_best_split(x,num_samples,num_features)['dataset_left']

In [68]:
np.shape(a)

(251, 7)

In [69]:
df = pd.DataFrame(a, columns = ['A','B','C','D','E','F','G'])
df

          A       B       C       D       E       F        G
0   -26.286  14.000  11.286 -12.143 -15.000 -23.000  89129.0
1   -21.000  20.429   8.429  -5.000 -11.429  -9.714  59118.0
2   -23.286  19.143   9.857 -15.000 -35.000 -20.000  44684.0
3   -28.143   9.000   9.429 -17.000 -28.143 -22.286  36595.0
4   -26.714  13.429  11.429 -12.857 -15.143 -22.857  93249.0
..      ...     ...     ...     ...     ...     ...      ...
246  -1.000  -0.714   0.143   0.714   2.429   2.429      0.0
247 -24.000  15.571   6.857  -8.571 -16.000 -14.714   9309.0
248 -26.571  10.571  11.857  -8.429 -14.857 -17.714  18732.0
249 -26.857   5.143  10.714 -15.143 -11.286 -20.286  12689.0
250 -22.143  16.000   7.000  -5.286 -11.857 -14.000  13742.0

[251 rows x 7 columns]

In [70]:
training_df

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,new_cases
410,-26.286,14.000,11.286,-12.143,-15.000,-23.000,89129.0
104,-70.000,-15.143,18.429,-46.143,-55.857,-36.429,8782.0
402,-21.000,20.429,8.429,-5.000,-11.429,-9.714,59118.0
270,-23.286,19.143,9.857,-15.000,-35.000,-20.000,44684.0
290,-28.143,9.000,9.429,-17.000,-28.143,-22.286,36595.0
...,...,...,...,...,...,...,...
313,-26.571,10.571,11.857,-8.429,-14.857,-17.714,18732.0
42,-75.571,-61.857,28.143,-71.571,-51.714,-65.429,227.0
141,-58.286,-4.714,14.714,-40.429,-50.429,-30.571,22753.0
344,-26.857,5.143,10.714,-15.143,-11.286,-20.286,12689.0
372,-22.143,16.000,7.000,-5.286,-11.857,-14.000,13742.0

In [71]:
def rmse(predictions ,target):
    return np.sqrt(np.mean(np.square(target-predictions)))

In [72]:
target=y[:,6]
target

array([0.00000e+00, 2.00000e+01, 1.21000e+02, 8.73000e+02, 8.48000e+02,
       8.35000e+02, 1.70700e+03, 1.56100e+03, 3.34400e+03, 6.56800e+03,
       7.76100e+03, 9.47100e+03, 1.45160e+04, 2.09030e+04, 2.71140e+04,
       5.77110e+04, 7.87610e+04, 9.75700e+04, 8.65080e+04, 8.21700e+04,
       8.04720e+04, 7.58290e+04, 7.85240e+04, 4.67900e+04, 5.43660e+04,
       4.38930e+04, 3.80730e+04, 4.48790e+04, 3.60110e+04, 2.43370e+04,
       2.05490e+04, 2.03460e+04, 3.68670e+04, 1.25840e+04, 1.48490e+04,
       1.30820e+04, 1.14360e+04, 1.10390e+04, 1.65770e+04, 1.49890e+04,
       1.79210e+04, 7.23300e+04, 2.17353e+05, 3.86555e+05, 3.48421e+05,
       2.11298e+05, 1.73790e+05])

In [73]:
rmse(c,target)

79675.00430892484

In [74]:
model.print_tree()

X_2 <= 13.870051886792453 ? 572555827.10569
 left:X_2 <= 9.235247011952188 ? 353636849.1218481
  left:X_2 <= 5.281522727272725 ? 130506005.4817785
    left:9.59375
    right:23757.696428571428
  right:X_0 <= -33.89656441717791 ? 193644817.25966358
    left:73509.61403508772
    right:44328.61320754717
 right:X_4 <= -49.87280346820808 ? 9933069621.579067
  left:X_0 <= -68.85333035714285 ? 143237967.14592457
    left:3222.7924528301887
    right:27193.627118644068
  right:X_4 <= -41.40280327868852 ? 1806886322.566349
    left:192524.10256410256
    right:281046.1818181818

In [103]:
class KMeans:
  def __init__(self,k):
    self.clusters={}
    self.centroids=[]
    self.k=k

  def create_random_centroid(self):
    self.centroids=(np.random.normal(size=(self.k,6)))
  
  def eucledian_distance(self,a,b):
    sum=0;
    for i in range(6):
      sum+=((a[i]-b[i])**2)
    return np.sqrt(sum)

  def update_clusters(self,data):
    c={}
    row_index=0;
    for i in data:
      m=float("inf");
      index=0
      for j in self.centroids:
        t=self.eucledian_distance(i,j)
        if t<m:
           c[row_index]=index
           m=t
        index+=1
      row_index+=1
    self.clusters=c
  def update_centroids(self,data):
    cen=[]
    index=0
    for i in range(self.k):
      row_index=0
      for j in data:
        if self.clusters[row_index]==j:
          cen
        row_index+=1
      index+=1;  
  def fit_clusters(self,data):
    self.create_random_centroid()

In [104]:
model1=KMeans(5)
kmeans_df=merged_df
kmeans_df

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
0,0.667,1.667,0.000,2.000,3.000,3.000
1,0.500,1.750,0.000,2.000,3.250,3.000
2,0.400,1.800,0.200,1.800,2.800,3.200
3,0.500,2.000,0.000,2.333,3.167,3.333
4,-0.143,1.714,0.714,1.429,3.571,0.143
...,...,...,...,...,...,...
466,-61.714,-25.000,24.143,-49.143,-41.000,-45.429
467,-61.286,-24.429,23.714,-48.714,-40.000,-44.571
468,-61.143,-24.714,23.714,-49.000,-39.143,-44.286
469,-60.143,-23.429,23.286,-48.286,-38.000,-43.429
470,-58.714,-21.143,22.714,-47.000,-36.571,-42.429

In [84]:
del kmeans_df["new_cases"]

KeyError: ignored

In [98]:
kmeans_df

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces
0,0.667,1.667,0.000,2.000,3.000,3.000
1,0.500,1.750,0.000,2.000,3.250,3.000
2,0.400,1.800,0.200,1.800,2.800,3.200
3,0.500,2.000,0.000,2.333,3.167,3.333
4,-0.143,1.714,0.714,1.429,3.571,0.143
...,...,...,...,...,...,...
466,-61.714,-25.000,24.143,-49.143,-41.000,-45.429
467,-61.286,-24.429,23.714,-48.714,-40.000,-44.571
468,-61.143,-24.714,23.714,-49.000,-39.143,-44.286
469,-60.143,-23.429,23.286,-48.286,-38.000,-43.429
470,-58.714,-21.143,22.714,-47.000,-36.571,-42.429

In [99]:
x=kmeans_df.to_numpy()
x

array([[  0.667,   1.667,   0.   ,   2.   ,   3.   ,   3.   ],
       [  0.5  ,   1.75 ,   0.   ,   2.   ,   3.25 ,   3.   ],
       [  0.4  ,   1.8  ,   0.2  ,   1.8  ,   2.8  ,   3.2  ],
       ...,
       [-61.143, -24.714,  23.714, -49.   , -39.143, -44.286],
       [-60.143, -23.429,  23.286, -48.286, -38.   , -43.429],
       [-58.714, -21.143,  22.714, -47.   , -36.571, -42.429]])

[]

In [105]:
model1.create_random_centroid()

In [106]:
model1.centroids

array([[-1.30762142,  1.53051897, -0.81275801,  0.85822841, -0.08719782,
         0.63596892],
       [-0.45570504,  2.37471537, -0.31161017,  1.79808297, -1.24374244,
        -1.20235915],
       [-0.50082198,  0.87320116, -0.94384629, -0.86267567, -0.03121053,
        -1.74776256],
       [-0.71863919, -0.01337127,  2.26515679, -0.89401133,  0.800406  ,
         0.69035697],
       [ 0.29519833,  0.16589916, -0.68923947, -0.73643306, -1.36223229,
        -0.80569763]])

In [107]:
model1.update_clusters(x)

In [108]:
model1.clusters

{0: 0,
 1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 3,
 6: 3,
 7: 3,
 8: 3,
 9: 3,
 10: 3,
 11: 3,
 12: 0,
 13: 0,
 14: 0,
 15: 0,
 16: 0,
 17: 0,
 18: 0,
 19: 0,
 20: 0,
 21: 0,
 22: 2,
 23: 2,
 24: 2,
 25: 2,
 26: 2,
 27: 2,
 28: 2,
 29: 2,
 30: 2,
 31: 2,
 32: 2,
 33: 2,
 34: 2,
 35: 2,
 36: 2,
 37: 2,
 38: 2,
 39: 2,
 40: 2,
 41: 2,
 42: 2,
 43: 2,
 44: 2,
 45: 2,
 46: 2,
 47: 2,
 48: 2,
 49: 2,
 50: 2,
 51: 2,
 52: 2,
 53: 2,
 54: 2,
 55: 2,
 56: 2,
 57: 2,
 58: 2,
 59: 2,
 60: 2,
 61: 2,
 62: 2,
 63: 2,
 64: 2,
 65: 2,
 66: 2,
 67: 2,
 68: 2,
 69: 2,
 70: 2,
 71: 2,
 72: 2,
 73: 2,
 74: 2,
 75: 2,
 76: 2,
 77: 2,
 78: 2,
 79: 2,
 80: 2,
 81: 2,
 82: 2,
 83: 2,
 84: 2,
 85: 2,
 86: 2,
 87: 2,
 88: 2,
 89: 2,
 90: 2,
 91: 2,
 92: 2,
 93: 2,
 94: 2,
 95: 2,
 96: 2,
 97: 2,
 98: 2,
 99: 2,
 100: 2,
 101: 2,
 102: 2,
 103: 2,
 104: 2,
 105: 2,
 106: 2,
 107: 2,
 108: 2,
 109: 2,
 110: 2,
 111: 2,
 112: 2,
 113: 2,
 114: 2,
 115: 2,
 116: 2,
 117: 2,
 118: 2,
 119: 2,
 120: 2,
 121: 2,
 122: 2,
 123: 2,
 124: 2,
 125: 2,
 126: 2,
 127: 2,
 128: 2,
 129: 2,
 130: 2,
 131: 2,
 132: 2,
 133: 2,
 134: 2,
 135: 2,
 136: 2,
 137: 2,
 138: 2,
 139: 2,
 140: 2,
 141: 2,
 142: 2,
 143: 2,
 144: 2,
 145: 2,
 146: 2,
 147: 2,
 148: 2,
 149: 2,
 150: 2,
 151: 2,
 152: 2,
 153: 2,
 154: 2,
 155: 2,
 156: 2,
 157: 2,
 158: 2,
 159: 2,
 160: 2,
 161: 2,
 162: 2,
 163: 2,
 164: 2,
 165: 2,
 166: 2,
 167: 2,
 168: 2,
 169: 2,
 170: 2,
 171: 2,
 172: 4,
 173: 4,
 174: 4,
 175: 4,
 176: 4,
 177: 4,
 178: 4,
 179: 4,
 180: 4,
 181: 4,
 182: 4,
 183: 4,
 184: 4,
 185: 4,
 186: 4,
 187: 4,
 188: 4,
 189: 4,
 190: 4,
 191: 4,
 192: 4,
 193: 4,
 194: 4,
 195: 4,
 196: 4,
 197: 4,
 198: 4,
 199: 4,
 200: 4,
 201: 4,
 202: 4,
 203: 4,
 204: 4,
 205: 4,
 206: 4,
 207: 4,
 208: 4,
 209: 4,
 210: 4,
 211: 4,
 212: 4,
 213: 4,
 214: 4,
 215: 4,
 216: 4,
 217: 4,
 218: 4,
 219: 4,
 220: 4,
 221: 4,
 222: 4,
 223: 4,
 224: 4,
 225: 4,
 226: 4,
 227: 4,
 228: 4,
 229: 4,
 230: 4,
 231: 4,
 232: 4,
 233: 4,
 234: 4,
 235: 4,
 236: 4,
 237: 4,
 238: 4,
 239: 4,
 240: 4,
 241: 4,
 242: 4,
 243: 4,
 244: 4,
 245: 4,
 246: 4,
 247: 4,
 248: 1,
 249: 1,
 250: 1,
 251: 1,
 252: 1,
 253: 1,
 254: 1,
 255: 1,
 256: 2,
 257: 2,
 258: 4,
 259: 4,
 260: 4,
 261: 4,
 262: 4,
 263: 4,
 264: 4,
 265: 4,
 266: 4,
 267: 1,
 268: 1,
 269: 1,
 270: 1,
 271: 1,
 272: 1,
 273: 1,
 274: 1,
 275: 2,
 276: 2,
 277: 2,
 278: 2,
 279: 2,
 280: 2,
 281: 2,
 282: 2,
 283: 2,
 284: 2,
 285: 2,
 286: 2,
 287: 2,
 288: 2,
 289: 2,
 290: 2,
 291: 2,
 292: 2,
 293: 2,
 294: 2,
 295: 2,
 296: 2,
 297: 2,
 298: 2,
 299: 2,
 300: 2,
 301: 2,
 302: 1,
 303: 1,
 304: 1,
 305: 1,
 306: 1,
 307: 1,
 308: 1,
 309: 1,
 310: 1,
 311: 1,
 312: 1,
 313: 1,
 314: 1,
 315: 1,
 316: 1,
 317: 1,
 318: 1,
 319: 1,
 320: 1,
 321: 1,
 322: 1,
 323: 1,
 324: 1,
 325: 1,
 326: 1,
 327: 1,
 328: 1,
 329: 1,
 330: 1,
 331: 1,
 332: 2,
 333: 2,
 334: 2,
 335: 2,
 336: 2,
 337: 2,
 338: 2,
 339: 2,
 340: 2,
 341: 2,
 342: 2,
 343: 2,
 344: 2,
 345: 2,
 346: 2,
 347: 2,
 348: 2,
 349: 2,
 350: 2,
 351: 2,
 352: 1,
 353: 1,
 354: 1,
 355: 1,
 356: 1,
 357: 1,
 358: 1,
 359: 1,
 360: 1,
 361: 1,
 362: 1,
 363: 1,
 364: 1,
 365: 1,
 366: 1,
 367: 1,
 368: 1,
 369: 1,
 370: 1,
 371: 1,
 372: 1,
 373: 1,
 374: 1,
 375: 1,
 376: 1,
 377: 1,
 378: 1,
 379: 1,
 380: 1,
 381: 1,
 382: 1,
 383: 1,
 384: 1,
 385: 1,
 386: 1,
 387: 1,
 388: 1,
 389: 1,
 390: 1,
 391: 1,
 392: 1,
 393: 1,
 394: 1,
 395: 1,
 396: 1,
 397: 1,
 398: 1,
 399: 1,
 400: 1,
 401: 1,
 402: 1,
 403: 1,
 404: 1,
 405: 1,
 406: 1,
 407: 1,
 408: 1,
 409: 1,
 410: 2,
 411: 2,
 412: 2,
 413: 1,
 414: 1,
 415: 1,
 416: 1,
 417: 1,
 418: 1,
 419: 1,
 420: 1,
 421: 1,
 422: 2,
 423: 2,
 424: 2,
 425: 2,
 426: 2,
 427: 2,
 428: 2,
 429: 2,
 430: 2,
 431: 2,
 432: 2,
 433: 2,
 434: 2,
 435: 2,
 436: 2,
 437: 2,
 438: 2,
 439: 2,
 440: 2,
 441: 2,
 442: 2,
 443: 2,
 444: 2,
 445: 2,
 446: 2,
 447: 2,
 448: 2,
 449: 2,
 450: 2,
 451: 2,
 452: 2,
 453: 2,
 454: 2,
 455: 2,
 456: 2,
 457: 2,
 458: 2,
 459: 2,
 460: 2,
 461: 2,
 462: 2,
 463: 2,
 464: 2,
 465: 2,
 466: 2,
 467: 2,
 468: 2,
 469: 2,
 470: 2}